<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.fitcha.model.dao.ChallengeDao">
	<select id="selectSearchChallengeBoardList" parameterType="search" resultType="challenge">
	SELECT *
	  FROM challenge_board cb 
	WHERE 1 = 1

	<if test="key eq 'title'">
	 AND title LIKE concat('%', #{word}, '%')
	</if>
	<if test="key eq 'both'">
	 AND (title LIKE concat('%', #{word}, '%')
	      OR content LIKE concat('%', #{word}, '%'))
	</if>
	<if test="key eq 'writer'">
	 AND writer LIKE concat('%', #{word}, '%')
	</if>

	<if test="exerciseType != null and exerciseType != ''">
	 AND exercise_type = #{exerciseType}
	</if>
	<if test="bodyPart != null and bodyPart != ''">
	 AND body_part = #{bodyPart}
	</if>
	<if test="level != null and level != ''">
	 AND level = #{level}
	</if>
	<if test="duration != null and duration != ''">
	 AND duration = #{duration}
	</if>
	<if test="participantCount != 0">
	 AND participant_count = #{participantCount}
	</if>
	
</select>
<select id="selectChallengeFileList" parameterType="int" resultType="file">
	SELECT *
	 FROM challenge_file
	WHERE challenge_board_id = #{id}
</select> 

</mapper>