<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.fitcha.model.dao.ChallengeDao">
	<!-- 검색 목록 조회(전체 목록 조회) -->
	<select id="selectSearchChallengeBoardList" parameterType="SearchChallenge" resultType="challenge">
	SELECT *
	  FROM challenge_board
	WHERE 1 = 1
	<if test="key == 'title'">
	 AND title LIKE concat('%', #{word}, '%')
	</if>
	<if test="key == 'both'">
	 AND (title LIKE concat('%', #{word}, '%')
	      OR content LIKE concat('%', #{word}, '%'))
	</if>
	<if test="key == 'writer'">
	 AND writer LIKE concat('%', #{word}, '%')
	</if>

	<if test="exerciseType != null and exerciseType != ''">
	 AND exercise_type = #{exerciseType}
	</if>
	<if test="bodyPart != null and bodyPart != ''">
	 AND body_part = #{bodyPart}
	</if>
	<if test="level != null and level != ''">
	 AND `level` = #{level}
	</if>
	<if test="duration != null and duration != ''">
	 AND duration = #{duration}
	</if>

	<if test="totalParticipantCount != 0">
	 AND total_participant_count = #{totalParticipantCount}
	</if>
	ORDER BY reg_date DESC
</select>
	
	<!-- 상세 조회 -->
	<select id="selectChallengeBoard" parameterType="int" resultType="challenge">
		SELECT *
		  FROM challenge_board
		 WHERE challenge_board_id = #{id}
	</select>
	
	<!-- 수정 -->
	<update id="updateChallengeBoard" parameterType="challenge">
		UPDATE challenge_board
		    SET title = #{title},
		    	content = #{content}, 
		    	exercise_type = #{exerciseType},
		    	body_part = #{bodyPart},
		   		`level` = #{level},
			    total_participant_count = #{totalParticipantCount}
		  WHERE challenge_board_id = #{challengeBoardId} 
	</update>
	
	<!-- 삭제  -->
	<delete id="deleteChallengeBoard" parameterType="int">
		DELETE FROM challenge_board
		      WHERE challenge_board_id =#{id}
	</delete>

	<!-- 등록 -->
	<insert id="insertChallengeBoard" parameterType="challenge" useGeneratedKeys="true" keyProperty="challengeBoardId">
		INSERT INTO challenge_board (user_id, title, content, writer, exercise_type, body_part, level, duration,total_participant_count)
			 VALUES (#{userId},#{title},#{content},#{writer}, #{exerciseType},#{bodyPart},#{level},#{duration},#{totalParticipantCount})
	</insert>
	
	<!-- 조회수 증가  -->
	<update id="updateChallengeViewCount" parameterType="int">
		UPDATE challenge_board
		   SET view_count = view_count+1
		 WHERE challenge_board_id = #{id}
	</update>

	<!-- 최근등록한| 참여자수 많은| 좋아요많은 | 조회수 많은 챌린지글 조회-->
	<select id="selectTop10Challenges" parameterType="java.lang.String" resultType="Challenge">
  	 	 SELECT *
  	  	   FROM challenge_board
   	 <choose>
        <when test="orderBy == 'recent'">
            ORDER BY reg_date DESC
        </when>
        <when test="orderBy == 'participants'">
            ORDER BY participant_count DESC
        </when>
        <when test="orderBy == 'likes'">
            ORDER BY like_count DESC
        </when>
        <when test="orderBy == 'views'">
            ORDER BY view_count DESC
        </when>
  	  </choose>
 	   LIMIT 10
	</select>

	<!-- 현재 유저의 참여 여부 조회 -->
	<select id="selectChallengeParticipated" parameterType="Participate" resultType="int">
		SELECT COUNT(*)
		  FROM participant_challenge
		 WHERE challenge_board_id = #{challengeBoardId}
   		   AND participant = #{participant}

	</select>
	<insert id="insertParticipantChallenge" parameterType="challenge">
		INSERT INTO participant_challenge (challenge_board_id, participant)
			 VALUES (#{challengeBoardId},#{writer})

	</insert>


</mapper>