<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.fitcha.model.dao.CommentDao">

	<!-- 챌린지 댓글 삭제 -->
	<delete id="deleteChallengeComment" parameterType="comment">
		DELETE FROM challenge_comment
		 WHERE challenge_board_id = #{boardId}
		   AND challenge_comment_id = #{commentId}
	</delete>
	
	<!--  챌린지 댓글 조회 -->
	<select id="selectChallengeCommentList" parameterType="int">
		SELECT *
		  FROM challenge_comment
		 WHERE challenge_board_id = #{id}
	
	</select>
	
	<!-- 챌린지 댓글 등록 -->
	<insert id="insertChallengeComment" parameterType="comment">
		INSERT INTO challenge_comment (challenge_board_id, user_id, content, writer)
             VALUES (#{boardId},#{userId},#{content},#{writer})
	</insert>
	
	<!-- 챌린지 댓글 수정 -->
	<update id="updateChallengeComment" parameterType="comment">
		UPDATE challenge_comment
		   SET content = #{content}
		 WHERE challenge_comment_id = #{commentId}
		   AND challenge_board_id = #{boardId}
	</update>
	
</mapper>